header {
    flex-wrap: wrap;
}

header h1{
    flex-basis: 100%;
    order: 1;
}

header nav{
    flex-basis: 80%;
    order: 3;
    border: 0px solid yellow;
    justify-content: flex-end;
}

header button{
    flex-basis: 10%;
    order: 2;
}