header {
    flex-wrap: wrap;
}

header figure{
    display: none;
}
header h1{
    flex-basis: 100%;
    order: 1;
}

header nav{
    flex-basis: 80%;
    order: 3;
    border: 0px solid yellow;
    justify-content: flex-end;
}

header button{
    flex-basis: 10%;
    order: 2;
}

main nav {

}

main  section {
    flex-basis: 100%;
    width: 50%;
}
main  aside {
    flex-basis: 100%;
     width: 30%;
}
