* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header nav a {
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    border: 0px solid black;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

header button {
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}