* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header figure {
    display: none
}
header nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header nav a {
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    border: 0px solid black;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

header button {
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    height: 100vh;
}
main nav {
    background-color: gainsboro;
    flex-basis: 30%;
}
main  section{
    background-color: bisque;
    flex-basis: 50%;
}
main aside {
    background-color: cadetblue;
    flex-basis: 20%;
}

footer{
    background-color: gray;
}