header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    flex-direction: row;
    gap: 45px;
    border:0px solid blue;
    
}

header nav a {
    border-radius: 5px;
}
main {
    flex-wrap: wrap;
    align-items: flex-start;
}

main nav {
    flex-basis: 100%;
    width: 20%;
}

main section {
    flex-basis: 70%;
    width: 80%;
}
main aside {
    flex-basis: 30%;
    width: 80%;
}