header{
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}
header h1{
    flex-basis: 30%;
    order: 3;

}
header nav{
    flex-direction: row;
    flex-basis: 40%;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;
    order: 2;
}

header nav a{
    border-radius: 10px;
    padding: 10px;
}

header button{
    flex-basis: 15%;
    order: 1;
}