* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f4f4f4;
}

a {
  text-decoration: none;
  color: white
}
/* ===== HEADER ===== */
header{
  background:#222;
  color:white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-between;
  height: 20vh;
  margin-bottom: 10px;
}

header nav.user {
  background-color: green;
  flex-basis: 100%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
header nav.user a.cliente {
  flex-basis: 70%;
}
header nav.user a.cuenta {
  flex-basis: 15%;
}
header nav.user a.cesta {
  flex-basis: 15%;
}
header figure#logo{
  height: 17vh;
  flex-basis: 10%;
  border: 0px solid red;
  display:flex;
  flex-direction: row;
  align-items:center;
  padding-left: 20px;
}

header figure#logo img{
  height: 100%;
}

header header h1 {
    flex-basis: 35%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

header nav.menu{
  flex-basis: 50%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  gap:25px;
  list-style:none;
  height: 8vh;
  border: 0px solid red;
}

header nav.menu a{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20%;
  padding: 10px;
  color:white;
  text-decoration:none;
  border: .5px solid whitesmoke;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all ease-in-out .3s;
}

header nav.menu a:hover{
  box-shadow: 2px 2px rgb(162, 231, 162);
  color: rgb(162, 231, 162);
  background-color: rgba(222, 208, 208, 0.2);
  transform: scale(1.1);
}
header nav.menu a:hover i{
    
}
header div.registro button{
  background:#0077ff;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:8px;
  cursor:pointer;
}


/* ===== MAIN ===== */
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main figure{
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0px solid red;
}
main  figure .portada{
  width: 80%;
}
main article{
  flex-basis: 30%;
  padding: 10px;
  border: 0px solid blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

}
main  article .titulo{
  border: 0px solid red;
  font-size: 20px;
  text-align: left;
  margin-bottom: 2px;
}

main  article .autor{
  font-size: 18px;
  color: green;
  margin-bottom: 35px;
}
main article .campo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0px solid red;
}
main article .campo p{
  flex-basis: 30%;
}
main article .campo h4{
  flex-basis: 70%;
}

main .precio{
  padding: 15px;
  flex-basis: 20%;
  background-color: rgba(0,0,0,.1);
  height: 25vh;
}

main .precio .pvp{
  color: blue;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
main .precio .iva {
  text-align: center;

}
main .precio nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
main .precio nav a {
    background-color: green;
    padding: 10px;
    margin-bottom: 5px;
}

main .precio nav a.favoritos {
    background-color:rgb(162, 231, 162);
    padding: 10px;
    margin-bottom: 5px;
}


