/* 
    Regla css , estructura

    selector {
        propiedad1: valor1;
        propiedad2: valor2;
        ...
        propiedadN: valorN;
    }


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* full width  100% 
    contenedor 80% */
.contenedor { 
    width: 80%;
    margin: 0 auto;
}
body {
    background-color: lightgrey;
}
header{ /* selector de etiqueta */
    background-color:darkcyan;
    border: 0px solid black;
    text-align: center;
    color: white;
    height: 150px;
}

header h1 { /* selector descendente */
    border: 0px solid black;
    padding: 10px;
}
header nav {
    margin-top: 20px;
    /* text-align: left; */
    padding: 10px;
    border: 2px solid black;
    /* aplico display flex al CONTENEDOR para ALINEAR los elementos hijos (a) en una fila 
    */
    display: flex; /* contenedor flexible */
    flex-direction:row; /* el eje principal es horizontal */
    justify-content: space-around; /* la alineacion de los hijos en el eje principal */
}
header nav a {  
    /* display: block; */
    border: 1px solid red;
    /* margin: 5px; */
    /* display: inline-block; */
}

main {
    
}
main section{
    margin-top: 10px;
    border: 1px solid grey;
    /* 
        - altura fija
        - altura como suma de las alturas de los elementos hijos
    */
    /* height: 400px; */
    /* min-height: 900px; */
    background-color: white;
    padding: 20px;
}

main section h2 {
    font-size: 25px;
    color: red;

}

main section p {
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    text-align: justify;
    line-height: 1.5;
    color: black;
    background-color: lightyellow;
    padding: 10px;
    text-indent: 1cm;
}

/* main section#introduccion figure {}
main section figure.tipos {}
.tipos {} */
main section figure {
    border: 1px solid red;
    display: flex; /* contenedor flexible */
    flex-direction: row; /* el eje principal es horizontal */
    flex-wrap: wrap; /* los elementos hijos se envuelven en varias filas */
    justify-content:space-between; /* la alineacion de los hijos en el eje principal */
    gap: 10px;
    /* height: 600px; */

}

main section figure img {
    
    width: 25%; 
}



main section#lugares h2 {
    text-align: right;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

