* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* medida fija/absoluta --> px */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    /* altura/anchura relativa % */
    /* flex-basis: 5%; */ /* relativo */
    height: 5vh; /* altura fija/absoluta adapta viewport */
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
    color: white;
}
header #menu {
    flex-basis: 5%;
}

header #buscar {
    flex-basis: 30%;
    background-color: blue;
}
header figure {
    flex-basis: 10%; /* WIDTH */
    height: 100%;
}
header figure img{
    height: 100%; /* 70% de la height del padre */
}
header form{
    flex-basis: 20%; /* WIDTH */
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column; /* eje principal columna */
    justify-content: center; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secunfdario */
}

header form input{
    flex-basis: 50%; /* height */
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header #enlaces {
    background-color: yellow;
    flex-basis: 30%;
}
main {
    flex-basis: 65%;
    background-color: azure;
}
footer {
    flex-basis: 30%;
    background-color: black;
}